
.todo_item{
  display: flex;
  align-items: center;
}

#todo-form{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#todo-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-todo {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s
}

#add-todo:hover {
  background-color: #0056b3;
}

.com_item {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: rgb(144, 238, 144);
  justify-content: center;
  width: 100%;
}

.com_item:hover {
  background-color: rgb(149, 216, 149);
}


.uncom_item {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: coral;
  justify-content: center;
  width: 100%;
}

.uncom_item:hover {
  background-color: rgb(212, 123, 90);
} 

.rm_btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item_con{
  display: flex;
  align-items: center;
}

.ad_btn{
  height: 23px;
  cursor: pointer;
}

.edit-input {
  font-size: 16px;
  margin: 13.5px;
  border-radius: 10px;
}

.save_btn, .cancel_btn {
  cursor: pointer;
}

.no_btn, .yes_btn{
  cursor: pointer;
}
